# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.cache/

# Generated Pipeline Outputs & Reports Figures
outputs/
reports/figures/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDEs & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
