# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend_venv/
venv/
ENV/
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
